* {
    box-sizing: border-box;
}


 label {
   font-size: 35px;
   font-weight: 600;
   color:white;
 }
 p {
   font-size: 28px;
   line-height: 1.2;
 }

 
 .container {
   width: 100%;
   margin: auto;
   padding-top: 4%;
   padding-bottom: 2%;
    box-shadow: 0 0 0 1px rgba(0,0, 0, .9),
   0 2px 3px 0 rgba(0,0, 0, .9); 

 }

 .row {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }
 .row::after {
   display: table;
   clear: both;
   content: "";
 }
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width:25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

body {
    margin: 0;
    font-family: 'Sofia', sans-serif;
    background-image: url(images/download\ \(1\).jfif);
    color: white;
}

nav {
    height: 70px;
    display: flex;    
    padding: 20px 36px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.8);
    
    
}

.logo-title{
    margin: 0;
    padding: 0px 50px;
   
}
section{
    color: white;
}
div.card{
    display: flex;
    margin: 24px;
   padding: 36px 24px 32px 24px;
    border-radius: 7px;  
   box-shadow: 0 0 0 1px rgba(0,0, 0, .9),
   0 2px 3px 0 rgba(0,0, 0, .9); 
}